


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .tweet{
            border: 1px solid black;
             margin-left: 25%; 
             width:50%;
             padding: 5px;
             margin-bottom:5px;
        } 

        textarea {
            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
            width:100%;
        }

        button:hover {
            background-color:rgba(0, 0, 0, 0.1);

        }
        .like:hover {
            width:30px;
        }

    </style>
    <title>Bootleg Twitter</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  


    {% load static %}

<p>
 <a href="/profilepage/">
    <img src="{% static '/profilepic.png' %}" alt="logo" width = "60px" style="float:right; margin-right:15px">
 </a>
</p>


    <br>
    <br>
    <form method="POST" action="/home/" style = "width:50%; margin-left:25%">
        {% csrf_token %}
        <textarea name="body" input type = "text" placeholder="What's on your mind?"></textarea>
        
        <input type="submit" value="Post Tweet" class="btn btn-primary" style = "border-radius: 8px; background-color: #5da5db"/>

    </form>
    <br>


    {% for tweet in tweets %}
        <div class = "tweet">
            <img src = "{{tweet.author.profile.profile_pic.url}}" alt = "profile pic" width="10%" style="margin-left:1%;">

            <strong>{{tweet.author}}</strong> posted at: {{tweet.date}} likes: {{tweet.total_likes}}
            <p>{{tweet.body}}</p>
            {% if username == tweet.author%}
                <a href="delete?id={{tweet.id}}">Delete</a>
            {%endif%} 

            
            <form action = "{% url 'like_post' tweet.pk %}" method="POST">
                {% csrf_token %}
                <button type ="submit" name = "post_id" value="{{tweet.id}}" class = "like" style = "border: none; background-color: transparent; outline: none"> <img src="{% static '/like.png' %}" width="25px"/> </button>

            
            </form>



        </div>

    {% endfor %}

    <h1>Hashtags</h1>
    {% for hashtag in hashtags %}
        <div style = "border: 2px solid black; margin: 6px; width:50%">
            <a href="hashtag?tag={{hashtag.word}}">{{hashtag}}</a>
        </div>

    {% endfor %}

    <!-- ONLY SHOW LIKED TWEETS: -->
    





</body>
</html>