<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Profile Page!</title>
    <style>
        ::-webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }
    </style>
  </head>




  <body>
{% load static %}
<a href="/home/"><img src="{% static '/logoNoWords.png' %}" alt="logo" width = "5%"   style="float:left; margin-left:15px; margin-top:5px"></a>

 <img src="{% static '/logowords.png' %}" alt="logo" width = "30%"   style="margin-left:30%; margin-top:5px">


    <br>
    <br>
    <br>
    <br>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

    {% load static %}
    <div class="container bcontent">
        <div class="card" >
            <div class="row no-gutters">
                <div class="col-sm-5">
                    {% if username.profile.profile_pic %}
                        <img class="card-img" src = "{{username.profile.profile_pic.url}}" alt = "profile pic" width="10%" class = "rounded-circle" style="max-width: 120px; margin: 20px; text-align: center;">
                    {% else %}
                        <img class="card-img" src="{% static '/profilepic.jpg' %}" alt="profile pic" style="max-width: 140px; margin: 20px; text-align: center;">
                    {% endif %}
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h2 class="card-title">{{username}}: {{tweet_count}} {{append}}</h2>
                        <p class="card-text">{{user.profile.bio}}</p>
                        <a href="{% url 'editprofile' username.profile.id %}" class="btn btn-primary" style="background-color:#5da5db">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <hr />

    </div>




    <h3>My tweets:</h3>
    {% for tweet in my_tweets %}
    <div style = "border: 2px solid black; margin: auto; width:50%">
        <p>{{tweet.author}} posted at: {{tweet.date}} likes: {{tweet.total_likes}}</0>
        <p>{{tweet.body}}</p>
        {% if username == tweet.author%}
            <a href="delete?id={{tweet.id}}">Delete</a>
        {%endif%} 

        <form action = "{% url 'like_post' tweet.pk %}" method="POST">
            {% csrf_token %}
            <button type ="submit" name = "post_id" value="{{tweet.id}}"> Like </button>
        </form>


    </div>
    {% endfor %}


    <h3>My liked tweets:</h3>
    {% for tweet in liked_tweets %}
    <div style = "border: 2px solid black; margin: 6px; width:50%">
        <p>{{tweet.author}} posted at: {{tweet.date}} likes: {{tweet.total_likes}}</0>
        <p>{{tweet.body}}</p>
        {% if username == tweet.author%}
            <a href="delete?id={{tweet.id}}">Delete</a>
        {%endif%} 

        <form action = "{% url 'like_post' tweet.pk %}" method="POST">
            {% csrf_token %}
            <button type ="submit" name = "post_id" value="{{tweet.id}}"> Like </button>
        </form>



    </div>
{% endfor %}


</body>
</html>