<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Profile Page!</title>
    <style>
        ::-webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }

        .tweet-buttons {
            border: none; 
            background-color: transparent;
            outline: none;
        }
        
        .tweet-buttons:hover {
            background-color: transparent;
        }
    </style>
  </head>




  <body>
{% load static %}
<a href="/home/"><img src="{% static '/logoNoWords.png' %}" alt="logo" width = "5%"   style="float:left; margin-left:15px; margin-top:5px"></a>

 <img src="{% static '/logowords.png' %}" alt="logo" width = "30%"   style="margin-left:30%; margin-top:5px">


    <br>
    <br>
    <br>
    <br>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

    {% load static %}
    <div class="container bcontent"  style="width: 70%;">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    {% if username.profile.profile_pic %}
                        <img class="card-img" src = "{{username.profile.profile_pic.url}}" alt = "profile pic" width="10%" class = "rounded-circle" style="max-width: 120px; margin: 20px; text-align: center;">
                    {% else %}
                        <img class="card-img" src="{% static '/profilepic.jpg' %}" alt="profile pic" style="max-width: 140px; margin: 20px; text-align: center;">
                    {% endif %}
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h2 class="card-title">{{username}} &#8226; {{tweet_count}} {{append}}</h2>
                        <p class="card-text">{{user.profile.bio}}</p>
                        <a href="{% url 'editprofile' username.profile.id %}" class="btn btn-primary" style="background-color:#5da5db">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <hr style ="padding-top: 3%">

    </div>

    <div style = "float: right; width: 45%;">
        <h3 >My Liked Tweets</h3>
        {% for tweet in liked_tweets %}
        <div class = "tweet">

            <!-- Puts in default profile pic or user uploaded one: -->
            {% if tweet.author.profile.profile_pic %}
            <img src = "{{tweet.author.profile.profile_pic.url}}" alt = "profile pic" width="12%" class = "rounded-circle" style="margin-left:1%;">
            {% else %}
            <img src="{% static '/profilepic.jpg' %}" alt="logo" width = "12%"  style="margin-left:1%;">
            {% endif %}

            <strong style="margin-left: 2%">@{{tweet.author}}</strong> &#8226; <p style = "display: inline; color: #686b6b"> {{tweet.date}} </style>

            <p style="margin-top:20px; margin-left:10px">{{tweet.body}}</p>

            <div class = "tweet_options" style="width:100%">
                <!-- Reply: -->
                <button type="button" data-toggle="modal" class = "tweet-buttons" style = "margin-right: 20%;"data-target="#exampleModalCenter">
                    <img src="{% static '/reply.jpg' %}" width="25px"/>
                </button>

                <!-- Heart is either filled or not depending if user liked: -->
                {% if tweet.liked  %}
                <form action = "{% url 'like_post' tweet.pk %}" method="POST" style="width: 40px; display: inline-block">
                    {% csrf_token %}
                    <button type ="submit" name = "post_id" value="{{tweet.id}}" class = "tweet-buttons"> <img src="{% static '/liked.jpg' %}" width="25px"/> </button>
                </form>
                {% else %}
                <form action = "{% url 'like_post' tweet.pk %}" method="POST" style="width: 40px; display: inline-block">
                    {% csrf_token %}
                    <button type ="submit" name = "post_id" value="{{tweet.id}}" class = "tweet-buttons"><img src="{% static '/like.jpg' %}" width="25px"/> </button>
                </form>
                {%endif%}

                <!-- Number of likes: -->
                <b style="display: inline; margin-right: 20%;">{{tweet.total_likes}}</b>

                <!-- Delete button only visible if user posted tweet: -->
                {% if username == tweet.author%}
                    <a href="delete?id={{tweet.id}}"><img src="{% static '/delete.jpg' %}" width="25px" style="" alt="delete"></a>
                {%endif%} 
                <hr style="margin-top: 10px;">
            </div>

        </div>
        {% endfor %}
    </div>



    <div style = "margin: 0px; margin-left: 5%; width: 45%">
        <h3>My Tweets</h3>
        {% for tweet in my_tweets %}
        
        <div class = "tweet">

            <!-- Puts in default profile pic or user uploaded one: -->
            {% if tweet.author.profile.profile_pic %}
            <img src = "{{tweet.author.profile.profile_pic.url}}" alt = "profile pic" width="12%" class = "rounded-circle" style="margin-left:1%;">
            {% else %}
            <img src="{% static '/profilepic.jpg' %}" alt="logo" width = "12%"  style="margin-left:1%;">
            {% endif %}

            <strong style="margin-left: 2%">@{{tweet.author}}</strong> &#8226; <p style = "display: inline; color: #686b6b"> {{tweet.date}} </style>

            <p style="margin-top:20px; margin-left:10px">{{tweet.body}}</p>

            <div class = "tweet_options" style="width:100%">
                <!-- Reply: -->
                <button type="button" data-toggle="modal" class = "tweet-buttons" style = "margin-right: 20%;"data-target="#exampleModalCenter">
                    <img src="{% static '/reply.jpg' %}" width="25px"/>
                </button>

                <!-- Heart is either filled or not depending if user liked: -->
                {% if tweet.liked  %}
                <form action = "{% url 'like_post' tweet.pk %}" method="POST" style="width: 40px; display: inline-block">
                    {% csrf_token %}
                    <button type ="submit" name = "post_id" value="{{tweet.id}}" class = "tweet-buttons"> <img src="{% static '/liked.jpg' %}" width="25px"/> </button>
                </form>
                {% else %}
                <form action = "{% url 'like_post' tweet.pk %}" method="POST" style="width: 40px; display: inline-block">
                    {% csrf_token %}
                    <button type ="submit" name = "post_id" value="{{tweet.id}}" class = "tweet-buttons"><img src="{% static '/like.jpg' %}" width="25px"/> </button>
                </form>
                {%endif%}

                <!-- Number of likes: -->
                <b style="display: inline; margin-right: 20%;">{{tweet.total_likes}}</b>

                <!-- Delete button only visible if user posted tweet: -->
                {% if username == tweet.author%}
                    <a href="delete?id={{tweet.id}}"><img src="{% static '/delete.jpg' %}" width="25px" style="" alt="delete"></a>
                {%endif%} 
                <hr style="margin-top: 10px;">
            </div>

        </div>
        {% endfor %}
    </div>

    <!-- <hr style = "width: 70%; padding-top: 3%"> -->

</body>
</html>